footer {
    font-size: 25px;
    padding-bottom: 12px;
    padding-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;

    a{
        color: white;

        i {
            padding-left: 25px;
            transition: 250ms;

            &:hover{
                transform: translate(2px, -2px);
            }

            &:active{
                color: rgb(131, 0, 0);
            }
        }
    }
}